@import '../styles.scss';
@import '~@angular/material/theming'; @include mat-core();

  $theme-primary: mat-palette($mat-indigo);
  $theme-accent: mat-palette($mat-blue-grey);
  $theme-warn: mat-palette($mat-red);

  $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme);
// Button
  $accent-pallet: map-get($theme, accent);
  $primary-pallet: map-get($theme, primary);
  $warn-pallet: map-get($theme, warn);

  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.fill {
  flex: 1 1 auto;
}

.link-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  font-family: Georgia, serif;
  outline: none;
}

.spear-text {
  font-size: 2em;
  font-family: "Playfair Display SC";
  color: #034078;
}

.top-bar {
  background-color: transparent;
  position: absolute;
  top: 0;
}

.bottom-bar {
  background-color: #034078;
  font-family: Georgia, serif;
  font-size: 0.5cm;
  bottom: 0;
  color: white;
}

.link-button-bottom {
  background-color: transparent;
  background-repeat: no-repeat;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  font-family: Georgia, serif;
  outline: none;
}
