<div>
  <mat-toolbar class = "transparent" fxLayout="row" style="height:110px;">
      <div id="logo-container" fxLayoutAlign="start" *ngIf="logo">
          <a (click)="onLogoClick()" fxLayout="column" fxLayoutAlign="center" style="cursor: pointer;">
            <img [src] = logo style="width:90px;height:90px;">
          </a>
      </div>
      <span class = "spear-text"> Spear</span>
      <span class = "fill"></span>
      <button mat-raised-button class = "link-button" (click) = onHome()>Home</button>
      <button mat-raised-button class = "link-button" (click) = onProduct()> Product</button>
      <button mat-raised-button class = "link-button" (click) = onAboutUs()>About Us</button>
      <button mat-raised-button class = "link-button" (click) = onContact()> Contact</button>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>