<div class = "intro-container" fxLayout = "column" fxLayoutAlign = "center">
    <div class = "image-cropper">
        <img src="../../../assets/images/SpearEthan.jpg" class = "ethan-pic">
    </div>
    <div class = "about-text" fxLayout = "column" fxLayoutAlign = "start">
        Ethan Astrachan
        <div style="font-size: .5cm">
          Duke University Class of 2021 || Computer Science and Political Science
        </div>
        <ul class = "about-inner-text" fxLayout = "column" fxLayoutAlign = "center">
          <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
          te fabulas impedit vis, pro habemus singulis consulatu ad. 
          </li>
          <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
            te fabulas impedit vis, pro habemus singulis consulatu ad. 
          </li>
          <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
            te fabulas impedit vis, pro habemus singulis consulatu ad. 
          </li>
        </ul>
    </div>
</div>
<div class = "even-person-container" fxLayout = "column" fxLayoutAlign = "center">
    <div class = "image-cropper">
      <img src="../../../assets/images/SpearSonny.png" class = "sonny-pic">
    </div>
    <div class = "about-text" fxLayout = "column" fxLayoutAlign = "start">
      Sonny Byun
      <div style="font-size: .5cm">
        Duke University Class of 2019 || Public Policy
      </div>
      <ul class = "about-inner-text" fxLayout = "column" fxLayoutAlign = "center">
        <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
        te fabulas impedit vis, pro habemus singulis consulatu ad. 
        </li>
        <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
          te fabulas impedit vis, pro habemus singulis consulatu ad. 
        </li>
        <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
          te fabulas impedit vis, pro habemus singulis consulatu ad. 
        </li>
      </ul>
    </div>
</div>
<div class = "odd-person-container" fxLayout = "column" fxLayoutAlign = "center">
  <div class = "image-cropper">
    <img src="../../../assets/images/SpearChip.png" class = "chip-pic">
  </div>
  <div class = "about-text" fxLayout = "column" fxLayoutAlign = "start">
    Chip Covin
    <div style="font-size: .5cm">
      Idk when Chip graduated from Fuqua and what his major is
    </div>
    <ul class = "about-inner-text" fxLayout = "column" fxLayoutAlign = "center">
      <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
      te fabulas impedit vis, pro habemus singulis consulatu ad. 
      </li>
      <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
        te fabulas impedit vis, pro habemus singulis consulatu ad. 
      </li>
      <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
        te fabulas impedit vis, pro habemus singulis consulatu ad. 
      </li>
    </ul>
  </div>
</div>
<div class = "even-person-container" fxLayout = "column" fxLayoutAlign = "center">
  <div class = "image-cropper">
    <img src="../../../assets/images/SpearDina.png" class = "dina-pic">
  </div>
  <div class = "about-text" fxLayout = "column" fxLayoutAlign = "start">
    Dina Daas
    <div style="font-size: .5cm">
      Duke University Class of 2020 || Dina's majors
    </div>
    <ul class = "about-inner-text" fxLayout = "column" fxLayoutAlign = "center">
      <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
      te fabulas impedit vis, pro habemus singulis consulatu ad. 
      </li>
      <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
        te fabulas impedit vis, pro habemus singulis consulatu ad. 
      </li>
      <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
        te fabulas impedit vis, pro habemus singulis consulatu ad. 
      </li>
    </ul>
  </div>
</div>
<div class = "odd-person-container" fxLayout = "column" fxLayoutAlign = "center">
  <div class = "image-cropper">
    <img src="../../../assets/images/SpearLuke.jpg" class = "luke-pic">
  </div>
  <div class = "about-text" fxLayout = "column" fxLayoutAlign = "start">
    <div>Luke Truitt</div>
    <div style="font-size: .5cm">
      Duke University Class of 2021 || Luke's majors
    </div>
    <ul class = "about-inner-text" fxLayout = "column" fxLayoutAlign = "center">
      <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
      te fabulas impedit vis, pro habemus singulis consulatu ad. 
      </li>
      <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
        te fabulas impedit vis, pro habemus singulis consulatu ad. 
      </li>
      <li>Lorem ipsum dolor sit amet, eu cum nostro consetetur,
        te fabulas impedit vis, pro habemus singulis consulatu ad. 
      </li>
    </ul>
  </div>
</div>


<!-- <div fxLayout=column>
    <div class="person-container" fxLayout=row>
        <div class="luke">
      <img src="../../../assets/images/SpearLuke.jpg">
        </div>
      <div fxFlex></div>
      <h1>Luke Truitt</h1>
    </div>
</div> -->
