
.intro-container {
  width: 100%;
  height: 11cm;
  margin-top: 3cm;
  border-color: black;
  border-bottom-style: solid;
  border-bottom-width: .2cm;
  border-top-style: solid;
  border-top-width: .2cm;
  background-color: grey;
}

.top-person-container {
  width: 100%;
  height: 11cm;
  margin-top: 3cm;
  border-bottom-width: .1cm;
  background-color: #034078;
  border-color: black;
  border-bottom-style: solid;
  border-bottom-width: .2cm;
}

.even-person-container {
  width: 100%;
  height: 11cm;
  border-bottom-width: .1cm;
  background-color: #034078;
  border-color: black;
  border-bottom-style: solid;
  border-bottom-width: .2cm;
}

.odd-person-container {
  width: 100%;
  height: 11cm;
  border-bottom-width: .1cm;
  background-color: grey;
  border-color: black;
  border-bottom-style: solid;
  border-bottom-width: .2cm;
}

.image-cropper {
  width: 7cm;
  height: 7cm;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 1cm;
}

.about-text {
  position: absolute;
  right: 0;
  margin-right: 1cm;
  font-family: Georgia, serif;
  width: 19cm;
  height: 6cm;
  font-size: 1.3cm;
  font-weight: bold;
  margin-left: -1cm;
  color: white
}

.about-inner-text {
  width: 100%;
  height: 90%;
  font-size: 0.5cm;
  font-weight: normal;
  margin-top: -0.1cm;
}

.ethan-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -58%;
  margin-top: -20%;
  height: 150%;
  width: auto;
}

.mihir-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -160%;
  margin-top: -70%;
  height: 300%;
  width: auto;
}

.sonny-pic {
  display: inline;
  margin: 0 auto;
  margin-left: 0%;
  height: 125%;
  width: auto;
}

.chip-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -6%;
  margin-top: -25%;
  height: 160%;
  width: auto;
}

.dina-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -2%;
  margin-top: 0%;
  height: 110%;
  width: auto;
}

.luke-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -13%;
  margin-top: -20%;
  height: 170%;
  width: auto;
}
