<div class = "bottom-container" color = "primary" fxLayout = "column" fxLayoutAlign = "end">
  <div class = "text-container" color = "primary" fxLayout = "column" fxLayoutAlign = "center">
      Custom APIs to solve data transfer
      <div class = "text" >
        <br>Data is hard. That's why we solve it for you.<br>
      </div>
      <div class = "inner-container" fxLayout = "row" fxLayoutAlign = "start center">
        <button mat-fab class = "product-button" fxLayoutALign = "center" (click) = onProduct()>
          View Our Product
        </button>
      </div>
    </div>
</div>



