<div class = "intro-container" fxLayout = "row" fxLayoutAlign = "center center">
    <div class = "intro-text">
        Custom APIs to connect Systems, Services, and Databases
    </div>
</div>
<div class = "about-us-container" fxLayout = "column" fxLayoutAlign = "end center">
    <div class = "about-us-text" fxLayoutAlign = "center center" >
        We are a team of Product Managers, Stasticians and Developers with a common goal of making the world a more efficient place.
    </div>
    <button mat-raised-button class = "about-us-button" fxLayoutAlign = "center center" (click) = "onAboutUs()">
        <div>Read More</div>
    </button>
</div>
<div class = "product-container" fxLayout = "row" fxLayoutAlign = "center center">
    <div class = "product-text" fxLayout = "column" fxLayoutAlign = "center center" >
        Fix complex data transfer issues as easy as 1, 2, 3
        <button mat-raised-button class = "product-button" fxLayoutAlign = "center center" (click) = "onProduct()">
            <div>What We Do</div>
        </button>
    </div>
    <div class = "product-picture" fxLayoutAlign = "center" >
    </div>
</div>
<div class = "roadmap-container" fxLayout = "column" fxLayoutAlign = "center center">
  <h1 class="roadmap-header" >What's Next?</h1>
    <div class = "roadmap-text" fxLayoutAlign = "center center" >
        We have DoD interest in various verticals, such as the Air Force, Marines, and Army, as well as in the medical and accounting communities.
        <br><br>
        We are exploring multiple solutions within the Marine Corps, a training management platform for the Air Force, and an integrated fleet management system for the Air Force.
    </div>

      <button mat-raised-button class = "roadmap-button" fxLayoutAlign = "center center" (click) = "onRoadmap()">
        <div>Where We're Going</div>
      </button>
</div>



