body {
  font-family: "Playfair Display SC";
}

.intro-container {
    margin-top: 2cm;
    background-image: url('/assets/images/datatransfer.png');
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "Times New Roman";
    color: #034078;
    font-size: 1em;
    width: 100%;
    height: 18cm;
}

.about-us-container {
    background-image: url('/assets/images/SpearTeam.PNG');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    background-origin: initial;
    background-color: #034078;
    color: #034078;
    width: 100%;
    height: 24cm;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #33a1fd;
}

.product-container {
    width: 100%;
    height: 20cm;

}

.roadmap-container {
    width: 100%;
    height: 20cm;
}

.text-container {
    background-color: transparent;
    height: 50%;
    width: 100%;
    font-size: 3.8em;
    font-weight: bold;
    margin-left: 0.5em;
    color: #034078;
}

.intro-text {
  color: #034078;
    font-size: 1.3cm;
    font-weight: bold;
    text-align: center;
  }

.about-us-text {
    height: min-content;
    font-size: bold;
    width: 70%;
    margin-top: 300px;
    color: #ffffff;
    font-size: 1.5cm;
    text-align: center;
    border-style: double;
    border-color: white;
    border-width: 10px;
    background: rgba(3, 64, 120, 0.4)
}

.about-us-button {
    width: 6cm;
    height: 1.5cm;
    font-family: "Playfair Display SC", serif;
    font-size: .5cm;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    background-color: #33a1fd;
    font-weight: bold;
    outline: none;
    margin-top: 1cm;
    margin-bottom: 1cm;
    text-align: center;
}

.inner-container {
    text-align: center;
    background-color: transparent;
    height: 20%
}

.product-text {
    height: 100%;
    font-size: bold;
    background: transparent;
    margin-top: 1cm;
    color: #034078;
    margin-left: 0.5cm;
    width: 50%;
    font-size: 1.5cm;
    text-align: center;
    border-right: solid 5px #034078;
}


.product-picture {
    height: 500px;
    font-size: bold;
    background-image: url('/assets/images/SpearDashboard.PNG');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    font-size: 1.5cm;
}

.product-button {
    width: 6cm;
    height: 1.5cm;
    font-family: "Playfair Display SC", serif;
    font-size: .5cm;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    background-color: #33a1fd;
    font-weight: bold;
    outline: none;
    text-align: center;
    margin-top: 0.5cm;
    margin-left: -4cm;
}


.roadmap-text {
    height: min-content;
    width: 70%;
    text-align: center;
    color: #034078;
    font-size: 1cm;
}

.roadmap-header {
  width:100%;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: #33a1fd;
}
.roadmap-button {
    width: 6cm;
    height: 1.5cm;
    font-family: "Playfair Display SC", serif;
    font-size: .5cm;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    background-color: #33a1fd;
    font-weight: bold;
    outline: none;
    margin-top: 3cm;
    text-align: center;
}
